@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  /*--ui-text: #000000;*/
  /*--ui-color-neutral-700: #000; Move to root, otherwise the change is not applied */

  /*--color-blue-400: oklch(80.9% 0.105 251.813);*/
  /*--color-blue-500: oklch(0.379 0.146 265.522);*/

  --color-blue-950: #102152;
  --color-blue-900: #13255E;
  --color-blue-800: #152A69;
  --color-blue-700: #172F75;
  --color-blue-600: #193381;
  --color-blue-500: #1C398E;
  --color-blue-400: #708DE3;
  --color-blue-300: #B8C6F1;
  --color-blue-200: #CFD8F5;
  --color-blue-100: #E7ECFA;
  --color-blue-50: #FFFFFF;
}

:root {
  --ui-color-neutral-700: #000;
  /*--table-even: rgba(28, 57, 142, 0.03);*/
  --table-even: hsl(from var(--color-blue-500) h s l / 0.03);
  --table-even-dark: hsl(from var(--color-blue-400) h s l / 0.03);
}

html, body, #__nuxt, #__nuxt > div, #__layout{
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 18px;
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
  }

  .thin-scrollbar {
    scrollbar-width: thin;
  }
}

/* v-calendar picker custom color */
.vc-nk {
  --vc-accent-50: var(--color-primary-50);
  --vc-accent-100: var(--color-primary-100);
  --vc-accent-200: var(--color-primary-200);
  --vc-accent-300: var(--color-primary-300);
  --vc-accent-400: var(--color-primary-400);
  --vc-accent-500: var(--color-primary-500);
  --vc-accent-600: var(--color-primary-600);
  --vc-accent-700: var(--color-primary-700);
  --vc-accent-800: var(--color-primary-800);
  --vc-accent-900: var(--color-primary-900);
}
